Appium-Python-Client==3.1.1
attrs==23.2.0
brotlipy==0.7.0
click==8.1.3
et-xmlfile==1.1.0
exceptiongroup==1.2.0
func-timeout==4.3.5
genson==1.2.2
greenlet==3.0.1
h11==0.14.0
htmlmin==0.1.12
importlib-resources==6.1.1
install==1.3.5
Jinja2==3.1.3
jmespath==1.0.1
jsonschema==4.20.0
jsonschema-specifications==2023.12.1
loguru==0.6.0
MarkupSafe==2.1.3
openpyxl==3.1.2
outcome==1.3.0.post0
packaging==23.2
parameterized==0.8.1
pkgutil_resolve_name==1.3.10
playwright==1.40.0
poium==1.3.2
pyee==11.0.1
PyMySQL==1.1.0
python-dateutil==2.8.2
python-dotenv==1.0.0
PyYAML==6.0
referencing==0.32.1
requests==2.31.0
rpds-py==0.16.2
seldom==3.5.0
selenium==4.16.0
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
tqdm==4.66.1
trio==0.24.0
trio-websocket==0.11.1
typing_extensions==4.9.0
urllib3==1.26.9
webdriver-manager==3.8.5
wsproto==1.2.0
xtestrunner==1.7.0
zipp==3.17.0
